* {
	border: 0px;
	padding: 0px;
}
/*
*/
body {
	background-image: url("../images/10.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}


div.nt-inicio {
	float: left;
	margin-top: 150px;
	color: white;
	width: 66%;
	text-align: left;
	font-size: 250px;
	border: 1px solid transparent; 
}


div.nt-inicio h1 {
	margin-left: 30px;
	font-size: 80px;
}

div.nt-inicio p {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 40px;
}

div.formulario {
	background-color: white;
	border-radius: 8px;
	margin-top: 200px;
	margin-right: 70px;
	padding: 20px;
	float: right;
	width: 23%;
	text-align: center;
	border: 1px solid transparent; 

}

div.formulario h3 {
	color: black;
}

div.pie-de-pagina {
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 12%;
	text-align: center;
	/*background-color: #ECEFF1;*/
	background-color: #E0E0E0;

}

div.col-sm-4 p a {
	text-decoration: none;

}


@media (max-width: 940px) {
  	div.nt-inicio h1.nt-h1 {
    	font-size: 60px;
  	}
  	div.nt-inicio p.nt-p {
  		font-size: 50px;
	}

}

@media (max-width: 850px) {
	div.nt-inicio {
		margin-top: 0px;
		width: 100%;
	}

	div.formulario {
		margin-top: 10px;
		width: 70%;
	}

  	div.nt-inicio h1.nt-h1 {
    	font-size: 50px;
  	}

  	div.nt-inicio p.nt-p {
  		font-size: 30px;
	}
}

@media (max-width: 750px) {
	div.nt-inicio {
		margin-top: 0px;
		width: 100%;
	}

	div.formulario {
		margin-top: 10px;
		width: 70%;
	}

  	div.nt-inicio h1.nt-h1 {
    	font-size: 50px;
  	}

  	div.nt-inicio p.nt-p {
  		font-size: 30px;
	}
}

@media (max-width: 600px) {
	div.nt-inicio {
		margin-top: 0px;
		width: 100%;
	}

	div.formulario {
		margin-top: 10px;
		width: 70%;
	}

  	div.nt-inicio h1.nt-h1 {
    	font-size: 30px;
  	}

  	div.nt-inicio p.nt-p {
  		font-size: 20px;
	}
}

@media (max-width: 412px) {
	div.nt-inicio {
		margin-top: 0px;
		width: 100%;
	}

	div.formulario {
		margin-top: 10px;
		width: 70%;
	}

  	div.nt-inicio h1.nt-h1 {
    	font-size: 30px;
  	}

  	div.nt-inicio p.nt-p {
  		font-size: 20px;
	}
}
